body{
    background: #eee url('http://www.top-windows-tutorials.com/images/2013/04/2014-03-Windows-Xp-Bliss-wallpaper.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  height:100vh;
}
::selection{
  background:none;
}
img{
  width:14vw;
  position:absolute;
  cursor:pointer;
}
#t{
  position:absolute;
}
#task{
  margin-top:98vh;
  width:100%;
  postion:fixed;
}